<article id="doc-cover">
    <p class="course">{{course_year}}</p>
    <div class="wrapper">
        <h1>{{ cover_title | e }}</h1>
        <h2>{{ cover_subtitle | e }}</h2>
    </div>
</article>
<div class="properties">
    <address>
            <p>---------------------------------------------</p>
        {% if department is defined %}
            <p id="department">{{ department | e }}</p>
        {% endif %}
        {% if institution is defined %}
        <p id="institution">{{ institution | e }}</p>
        {% endif %}
    </address>
</div>