<article id="doc-cover">
    <div class="wrapper">
        <div class="upper">
            <p>{{course_year}}</p> <!-- Año del curso, alineado a la derecha -->
        </div>
        <div class="title">
            <h1>{{ cover_title | e }}</h1> <!-- Título principal -->
            <h2>{{ cover_subtitle | e }}</h2> <!-- Subtítulo -->
        </div>
        <div class="properties">
            <p>---------------------------------------------</p> <!-- Línea separadora -->
            <p id="author">{{ department | e }}</p> <!-- Departamento -->
            <p id="copyright">{{ institution | e }}</p> <!-- Institución -->
        </div>
    </div>
</article>
