    @page {
        size: A4;
        margin: 2.54cm; 
        font-family: 'Source Sans Pro', sans-serif;
    }
    @page :first {
        size: A4;
        margin-left: 1cm;  
        margin-right: 2cm;  
        margin-bottom: 10cm;  
        margin-top: 2cm;  

        padding: 0;
        background-image: url('{{ cover_logo | to_url }}');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        font-family: 'Source Sans Pro', sans-serif;

    }
    #doc-cover {
        background-color: #E93456  !important;
        color: white  !important;
        .course {
            text-align: right;
            font-size: 11pt;
        }
        .wrapper {
            background-color: #E93456  !important;
            text-align: left !important;
            h1 {
                padding-top: 5cm;
                border-bottom: none !important; 
                margin-bottom: 0.4cm; 
            }
            h2 {
                border-bottom: none !important; 
                font-size: 16pt;
                margin-top: 0; 
            }
        }
    }
    .properties {
         text-align: left !important;
         position: absolute;
         bottom: -14.2cm; 
         left: 0cm;
         background-color: #E93456  !important;
         color: white  !important;
         font-size: 11pt;
         margin-left: 1.1cm;  

        p {
            margin-bottom: 0.3cm; 
            margin-top: 0; 
        }
    }
    
    article h1 {
        border-bottom: 2px solid #E93456  !important; }

    article h2 {
        border-bottom: 1px solid #FFE5EA  !important; }

@font-face {
    font-family: 'Source Sans Pro';
    src: url('assets/fonts/SourceSans3-Regular.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('assets/fonts/SourceSans3-Bold.ttf.woff') format('woff');
    font-weight: bold; 
    font-style: italic; 
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    text-align: justify;
}

table {
  border-collapse: collapse !important;
  width: 100% !important;

  tr {
    &:nth-child(even) {
      background-color: #FFE5EA;
    }
  }

  th {
    background-color: #E93456 !important;
    color: white !important;
    font-weight: bold !important;
    padding: 10px !important;
    text-transform: uppercase;
  }

  th, td {
    vertical-align: middle !important;
    text-align: left !important;
    padding: 10px !important;
    height: 100% !important;
  }
}