@font-face {
    font-family: 'Source Sans Pro';
    src: url('assets/fonts/SourceSans3-Regular.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('assets/fonts/SourceSans3-Bold.ttf.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@page {
    size: A4;
    margin: 2.54cm; /* Establece margen general */
    font-family: 'Source Sans Pro', sans-serif;
    background: none;
}

@page :first {
    margin: 0; /* Sin margen en la primera página */
}

.wrapper {
    padding: 2cm;
    background-image: url('{{ cover_logo | to_url }}');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

    h1,
    h2 {
        border-bottom: none !important;
        text-align: left !important;
        padding-left: 1cm;
    }

    h1 {
        padding-top: 6cm;
        font-size: 36pt;
        margin-bottom: 0.4cm;
    }

    h2 {
        font-size: 18pt;
    }

    .upper p {
        font-size: 11pt;
        text-align: right;
        padding-top: 2cm;
        padding-right: 1cm;
    }

    .properties {
        bottom: 2cm; /* Ubica al pie del wrapper */
        
        p {
            padding-left: 1cm;
            font-size: 11pt;
            margin-top: 0.4cm;
        }
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    text-align: justify;
}

table {
    border-collapse: collapse !important;
    width: 100% !important;

    tr:nth-child(even) {
        background-color: #FFE5EA;
    }

    th {
        background-color: #E93456 !important;
        color: white !important;
        font-weight: bold !important;
        padding: 10px !important;
        text-transform: uppercase;
    }

    th, td {
        vertical-align: middle !important;
        text-align: left !important;
        padding: 10px !important;
    }
}