@page {
    size: A4;
    margin: 2.54cm;
    font-family: 'Source Sans Pro', sans-serif;
    background: none;
}

@page :first {
    margin: 0; /* Sin margen en la primera página */
}

.wrapper {
    display: flex;
    flex-direction: column; /* Disposición en columna de los bloques */
    justify-content: space-between;
    align-items: stretch;
    padding: 2cm;
    background-image: url('{{ cover_logo | to_url }}'); /* Imagen de fondo */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    width: 21cm; /* Anchura de A4 */
    height: 29.7cm; /* Altura de A4 */
    max-width: 21cm;
    min-width: 21cm;
    max-height: 29.7cm;
    min-height: 29.7cm;
}

.upper {
    flex: 0 0 2.97cm; /* Ocupa el 10% de la altura total */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alineación a la derecha */
}

.title {
    flex: 0 0 20.79cm; /* Ocupa el 70% de la altura total */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el título y subtítulo */

    h1, h2 {
        border-bottom: none !important;
        text-align: left !important;
        padding-left: 1cm;
        margin: 0;
    }

    h1 {
        padding-top: 1cm;
        font-size: 36pt;
        margin-bottom: 0.4cm;
    }

    h2 {
        font-size: 18pt;
    }
}

.properties {
    flex: 0 0 5.94cm; /* Ocupa el 20% de la altura total */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alineación en la parte inferior */
    align-items: flex-start;
    gap: 0.2cm; /* Espaciado entre párrafos */
    padding-bottom: 1cm;

    p {
        padding-left: 1cm;
        font-size: 11pt;
        margin: 0; /* Sin márgenes adicionales */
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    text-align: justify;
}

table {
    border-collapse: collapse !important;
    width: 100% !important;

    tr:nth-child(even) {
        background-color: #FFE5EA;
    }

    th {
        background-color: #E93456 !important;
        color: white !important;
        font-weight: bold !important;
        padding: 10px !important;
        text-transform: uppercase;
    }

    th, td {
        vertical-align: middle !important;
        text-align: left !important;
        padding: 10px !important;
    }
}